body {
	padding-top: 70px;
	background-image: url(https://images.unsplash.com/photo-1500245804862-0692ee1bbee8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
	background-repeat: no-repeat;
	background-size: cover;
}

.jumbotron {
	background-color: rgba(236, 240, 241, 0);
	color: white;
	text-shadow: 0px 4px 3px red,
				 0px 8px 13px orange;
}

.navbar-dark {
	background-color: rgba(122, 43, 18, 0);
}

.navbar-dark .navbar-nav .nav-link {
	color: white;
}

#green {
	background-color: green;
}

#green:hover {
	background-color: lightgreen;
}

#red {
	background-color: red;
}

#red:hover {
	background-color: green;
}

.navbar-brand {
	text-shadow: 0px 4px 3px red,
				 0px 8px 13px orange;
}

.scrolled {
	background-color: rgba(122, 43, 18, 1);
}

.card {
	margin-top: 20px;
	background-color: rgba(255, 255, 255, 1);
}

.card-title {
	font-size: 2rem;
}
